<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles/main.css" />
        <title>Access Denied</title>
    </head>
    <body>
        <nav>
            <a href="/signup">Go back to the welcome page</a>
        </nav>
        <h1>Access Denied</h1>
    </body>
</html>
